
= form_for(@event, html: {class: 'form-horizontal'}) do |f|
  - if @event.errors.any?
    #error_explanation
      %h2
        = pluralize(@event.errors.count, "error")
        prohibited this event from being saved:
      %ul
      - @event.errors.full_messages.each do |message|
        %li= message

  %h3 General Information
  %br
  .form-group
    = f.label :start_date, class: 'control-label col-sm-2'
    .col-sm-6
      = f.datetime_select :start_date
  .form-group
    = f.label :title, class: 'control-label col-sm-2'
    .col-sm-6
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :description, class: 'control-label col-sm-2'
    .col-sm-6
      = f.text_area :description, class: 'form-control'
  .form-group
    = f.label "Photo: ", class: 'control-label col-sm-2'
    .col-sm-6
      = f.file_field :image, class: 'form-control'
  %br

  %h3 Tickets &amp; Pricing
  %br
  .form-group
    .col-sm-6
      .checkbox
        = check_box_tag 'priced_event', 'yes', false, style: 'margin-left: 0;'
        = label_tag 'priced_event', "I want to charge for this event", class: 'checkbox inline', style: 'display: inline;'
    .col-sm-6.text-right
  %table.table.table-striped#ticket-matrix
    %thead
      %tr
        %th Tier
        %th Tier name
        %th Description
        %th # of tickets
        %th $ / ticket
        %th Total $ / tier
        %th
    %tfoot
      %tr
        %td.tiers{colspan: 2}
        %td
        %td.tickets
        %td
        %td
          %pre.totals
        %td
    %tbody
      %tr
        %td
          %pre.tier 0
        %td= text_field_tag :tier_name, nil, placeholder: "ex. VIP, General Admission", class: 'form-control'
        %td= text_area_tag :tier_description, nil, placeholder: "Optional description for ticketholders", class: 'form-control'
        %td= number_field_tag :tier_tickets, 1, in: 1..5000, step: 1, size: 4, class: 'form-control form-control-inline affects-total tier-ticket'
        %td
          .input-group
            %span.input-group-addon.input-group-addon-inline $
            = number_field_tag :tier_price_dollars, 0, in: 0..9999, size: 4, class: 'form-control form-control-inline affects-total tier-price'
            %span.input-group-addon.input-group-addon-inline .00
        %td
          %pre.tier-total $0.00
        %td.remove-row{style: 'text-align: center;'}
          %a{onclick: 'addTierRow()', role: 'button', class: 'btn btn-info'}
            %i.fa.fa-plus

  %br
  .actions
    = f.submit class: 'btn btn-primary'
