
= form_for(@event, html: {class: 'form-horizontal'}) do |f|
  - if @event.errors.any?
    #error_explanation
      %h2
        = pluralize(@event.errors.count, "error")
        prohibited this event from being saved:
      %ul
      - @event.errors.full_messages.each do |message|
        %li= message

  %h3 Payments &amp; Fees
  %br
  .col-sm-8
    .btn-group
      %button.btn.pricing-free{type:'button', onclick:"formatPricingFeatures(false);"} Free
      %button.btn.pricing-paid{type:'button', onclick:"formatPricingFeatures(true);"} Paid
    &nbsp; Choose to make your event free to customers or to charge for tickets.
    %p
    .jumbotron#payments-jumbo.text-center
      = image_tag 'stripe_logo.png', style: 'margin: auto; height: 75px;'
      %i.fa.fa-2x.fa-cc-visa
      %i.fa.fa-2x.fa-cc-mastercard
      %i.fa.fa-2x.fa-cc-amex
      %i.fa.fa-2x.fa-cc-discover
      %p
      .small.pricing-free
        %strong Free events can skip this section!
      .small
        You can connect an existing Stripe account or easily create a new one. Click below to connect and activate event pricing.
      %p
      %br
      %a.btn.btn-info.connect-stripe{href: stripe_connect_path}
        %strong Connect with Stripe
      - if @event.user.stripe_authorized?
        .text-success
          %br
          .well.small
            Authorization successful for
            = @event.user.email + "!"

            &nbsp;
            %span.label.label-success
              %i.fa.fa-lg.fa-check
              Authorized
              = @event.user.stripe_authorized_at.to_formatted_s(:short)
      %p.clearfix
      #stripe-comm.small


  .clearfix
  %h3 General Information
  %br
  .form-group
    = f.label :start_date, class: 'control-label col-sm-2'
    .col-sm-6
      = f.datetime_select :start_date
  .form-group
    = f.label :end_date, class: 'control-label col-sm-2'
    .col-sm-6
      = f.datetime_select :end_date
  .form-group
    = f.label :title, class: 'control-label col-sm-2'
    .col-sm-6
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :location, class: 'control-label col-sm-2'
    .col-sm-6
      = f.text_field :location, class: 'form-control'
  .form-group
    = f.label :description, class: 'control-label col-sm-2'
    .col-sm-6
      = f.text_area :description, class: 'form-control tinymce'
  .form-group
    = f.label :image, class: 'control-label col-sm-2'
    .col-sm-6
      = f.file_field :image, class: 'form-control'

  = tinymce

  %br
  #ticketing-section
    .tack.clearfix
      %h3 Tickets &amp; Pricing
      .action-bar.pull-right
        %a#remove-tier-btn{onclick: 'removeTierRow()', role: 'button', class: 'btn btn-danger', disabled: true}
          %i.fa.fa-trash
        %a#add-tier-btn{onclick: 'addTierRow()', role: 'button', class: 'btn btn-info'}
          %i.fa.fa-plus

    %table.table.table-striped#ticket-matrix
      %thead
        %tr
          %th Tier
          %th Tier name
          %th Description
          %th # of tickets
          %th $ / ticket
          %th Total $ / tier
      %tfoot
        %tr
          %td.tiers{colspan: 2}
          %td
          %td.tickets
          %td
          %td
            %pre.totals
      %tbody
        = f.fields_for :tiers do |ff|
          %tr
            %td
              %pre.tier= ff.index
              = ff.hidden_field :level, value: ff.index
            %td= ff.text_field :name, placeholder: "ex. VIP, General Admission", class: 'form-control'
            %td= ff.text_area :description, placeholder: "(optional)", class: 'form-control', rows: 2, cols: 25
            %td= ff.number_field :unprovisioned_tickets, value: 0, in: 0..5000, step: 1, size: 4, class: 'form-control form-control-inline affects-total tier-ticket'
            %td
              .input-group
                %span.input-group-addon.input-group-addon-inline $
                = number_field_tag :price_dollars, 0, in: 0..9999, size: 4, class: 'form-control form-control-inline affects-total tier-price'
                = ff.hidden_field :price, value: 0, class: 'price-cents'
                %span.input-group-addon.input-group-addon-inline .00
            %td
              %pre.tier-total $0.00

  %br
  .actions.row.text-right{style: 'margin-right: 5px;'}
    = f.submit class: 'btn btn-primary', data: { disable_with: 'Processing event... this may take a minute...' }
