.row
  .col-md-6
    %h1= @event.title
  .col-md-6
    %h3= weekday_with_time(@event.start_date)
.row
  .col-md-6= image_tag @event.image.url(:medium)
  .col-md-6
    %p= raw @event.description
    %p &nbsp;

    = form_for @order do |f|
      %table.table.table-striped#tickets-preorder
        %tbody
          - @tiers.each do |tier|
            - next unless tier.display?
            = hidden_field_tag 'event_id', @event.id
            %tr
              %td.media
                .media-body
                  %h5= "#{tier.name}"
                  .small= tier.description
              %td.small.text-right.price= tier.price_in_dollars
              %td
                = number_field_tag "tickets_tier_id_#{tier.id}", 0, in: 0..tier.available_for_purchase, size: 4, class: 'form-control tickets-to-purchase'
        %tfoot
          %td.preorder-ticket-sum.text-right
          %td.preorder-price-sum
          %td
            = f.submit 'Buy Now', data: { disable_with: 'Processing...' }, class: 'btn btn-primary', disabled: true, id: 'submit-preorder'
%br
.row
  .col-md-12.text-center
    #talkable-invite-container

-# Begin Talkable integration code
:javascript
  var _talkableq = _talkableq || [];
  _talkableq.push(['init', {
    site_id: 'ticket-win' // REQUIRED - Talkable Site ID
  }]);

  var _talkable_affiliate = {
    iframe: {
      width: '100%',
      container: 'talkable-invite-container'
    },
    affiliate_member: {
      email: '', // Optional — Advocate email address
    },
    campaign_template: { name: 'invite' } // Loads Post Purchase campaign with tag "invite"
  };

  _talkableq.push(['register_affiliate', _talkable_affiliate]); // Pass data to Talkable and show Standalone campaign as a result

<script src="//d2jjzw81hqbuqv.cloudfront.net/integration/talkable-2.0.0.min.js" type="text/javascript"></script>
-# End Talkable integration code

%br
.row
  .col-md-12.text-center
    %p
      = link_to 'Back', events_path
      &nbsp;
      - if user_signed_in?
        - if can? :edit, @event
          = link_to 'Manage this event', edit_event_path(@event), class: "btn btn-info"

