.table-responsive
  %table.table.table-condensed
    %thead
      %tr
        %th Description
        %th.text-right Price
        %th.text-right Quantity
        %th.text-right Total
    %tbody
      - @line_items.each do |li|
        %tr
          %td.small= li[:description].gsub(/\n/,'<br/>').html_safe
          %td.text-right= li[:price]
          %td.text-right= li[:quantity]
          %td.text-right
            %i= li[:total]
      - if @coupon
        %tr
          %td
            .small
              = @coupon.description.gsub(/\n/, '<br/>').html_safe
              .label.label-success REDEEMED
          %td.text-right= "-#{number_to_currency(@coupon.amount/100)}"
          %td.text-right 1
          %td.text-right
            %i= "-#{number_to_currency(@coupon.amount/100)}"
      %tr
        %td
        %td
        %td.text-right
          %strong Total
        %td.text-right
          %strong= @total
