

  <div class="col-sm-6 col-md-4">
    <div class="ticket-cards-set">
      <div class="ticket-card text-center">
        <div class="heading">
          <h1><%= event.title %></h1>
          <p>@ <%= event.location %></p>
          <p>From <%= weekday_with_time(event.start_date) %> til <%= weekday_with_time(event.end_date) %></p>
          <h5><%= ticket.name %> | <%= ticket.formatted_price %></h5>
          <h5><%= ticket.user_email %></h5>
          <h2><%= ticket.formatted_sku %></h2>
        </div>
        <div class="content"><%= image_tag "logo_for_tickets.jpg", class: "img-responsive", alt: "Ticket Win" %></div>
      </div>
    </div>
  </div>
