
<div class="row text-center">
  <h1>Checkin for <%= @event.title %></h1>
</div>
<hr />
<form>
  <div class="form-group">
    <%= form_tag(event_tickets_path, :method => "get", id: "search-form", class: 'form-inline') do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], placeholder: @placeholder, class: 'form-control input-xlarge' %>
        <br />
        <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</form>
<hr />
<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Tier</th>
        <th>Email</th>
        <th>SKU</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.name %></td>
          <td><%= ticket.delivery_email %></td>
          <td><%= ticket.formatted_sku %></td>
          <td>
            <%= form_for [@event, ticket], method: :patch, remote: true do |f| %>
              <%= hidden_field_tag :status, ticket.status, class: 'ticket-status' %>
              <% submit_text = ticket.status == 'sold' ? 'Check in' : 'Checked in ✓' %>
              <% submit_class = ticket.status == 'sold' ? 'btn btn-info' : 'btn btn-muted' %>
              <%= f.submit submit_text, class: submit_class, id: "checkin-btn-#{ticket.id}",
                style: 'width: 10em; font-size: 0.8em;' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

