
<div class="row text-center">
  <h1>Checkin for <%= @event.title %></h1>
</div>
<hr />
<form>
  <div class="form-group">
    <%= form_tag(event_tickets_path, :method => "get", id: "search-form", class: 'form-inline') do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], placeholder: @placeholder, class: 'form-control input-xlarge' %>
        <br />
        <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</form>
<hr />
<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Tier</th>
        <th>Email</th>
        <th>SKU</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.name %></td>
          <td><%= ticket.delivery_email %></td>
          <td><%= ticket.sku %></td>
          <td>
            <%= link_to 'Check in', event_ticket_path(id: ticket.id),
              method: :put, remote: true, class: 'btn btn-info' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

